# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Виртуальное окружение
venv/
.venv/
env/

# Окружение и secrets
.env

# БД
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Тесты и кэш
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/